<!DOCTYPE html>
<html lang="en">
<head>
  <title>Aqua-Mart</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

  <link href="/css/style.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="/css/swiper.min.css">
  <link rel="stylesheet" type="text/css" href="/css/swipercss.css">
  <link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
 
  <% for (var l = vendor.length, i = 0; i < l; i++) { %>
    <% object = vendor[i]%>
    <p><h3>vendor name: <%= object.vendorname%></h3>
    <p><h3>vendor mail : <%= object.email %></h3></p>
    <p><h3>vendor phone : <%= object.phone %></h3></p>
    <p><h3>vendor landmark : <%= object.landmark %></h3></p>
    <p><h3>vendor state : <%= object.state %></h3></p>
    <p><h3>vendor country : <%= object.country %></h3></p>
    
    <% break %>
<% } %>

<h2> Vendor Products :</h2>
<br>
<%if (products.length == 0) { %>
    <p>No products to show...</p>
    <% } %>
    <div id='product-view'>
        <div class="products">
          <div class="row">
            <% products.forEach(product => { %>
              <div class="card--featured col-lg-3 col-sm-6 d-flex justify-content-center mt-4" onclick="javascript:location.href= '/products/<%= product._id %>'">
                <div class="card shadow" style="width: 18rem;" onmouseover="hovered(this)" onmouseout="removed(this)">
                  <img src=<%= product.imgurl %> style="width:100%"  id="p1">
                  <h4><center><%= product.name %></center></h4>
                  <center><%= product.vendorname %></center>
                </div>
              </div>
            <% }) %>
          </div>
        </div>
       </div>
     </div>
   </div>
  </div>
  <a href = "/vendor/dashboardVendor/<%= products[0].vendorname %>">dashboard</a>

</body>
</html>
